type cmddumper_exec, system_file_type, exec_type, file_type;
typeattribute cmddumper coredomain;

init_daemon_domain(cmddumper)

allow cmddumper system_data_file:dir { create_dir_perms relabelfrom relabelto};
allow cmddumper system_data_file:fifo_file create_file_perms;
allow cmddumper sdcard_type:dir create_dir_perms;
allow cmddumper sdcard_type:file create_file_perms;
allow cmddumper init:unix_stream_socket connectto;
allow cmddumper property_socket:sock_file { write read };
allow cmddumper platform_app:unix_stream_socket connectto;
allow cmddumper shell_exec:file { rx_file_perms };
allow cmddumper system_file:file x_file_perms;
allow cmddumper media_rw_data_file:file  { create_file_perms };
allow cmddumper media_rw_data_file:dir { create_dir_perms };
allow cmddumper file_contexts_file:file { read getattr open };
allow cmddumper debuglog_data_file:dir {relabelto create_dir_perms};
allow cmddumper debuglog_data_file:file create_file_perms;
allow cmddumper system_data_file:dir create_dir_perms;
