type em_svr_exec, system_file_type, exec_type, file_type;
typeattribute em_svr coredomain;

init_daemon_domain(em_svr)

allow em_svr block_device:dir search;
allow em_svr sdcardfs:dir { search write add_name };
allow em_svr sdcardfs:file { write create open };
allow em_svr media_rw_data_file:dir { read write search open add_name };
allow em_svr media_rw_data_file:file { write create open };
allow em_svr graphics_device:dir search;
allow em_svr graphics_device:chr_file { open read write ioctl };
allow em_svr surfaceflinger_service:service_manager find;
allow em_svr sysfs_leds:dir search;
allow em_svr self:capability { chown fsetid };
allow em_svr shell_exec:file rx_file_perms;
allow em_svr toolbox_exec:file { getattr execute read open execute_no_trans };
allow em_svr sysfs:dir { open read };
allow em_svr sysfs_batteryinfo:dir search;
allow em_svr sysfs_dt_firmware_android:dir { read search open };
allow em_svr sysfs_dt_firmware_android:file { read getattr open };

binder_use(em_svr)
binder_call(em_svr, surfaceflinger)
