#=============allow atcid==============
type ctl_atcid-daemon-u_prop, property_type, extended_core_property_type;
type ctl_atci_service_prop, property_type, extended_core_property_type;
type mtk_atci_sys_prop, property_type, extended_core_property_type;

#=============mtk aal property=============
type mtk_aal_prop, property_type, extended_core_property_type;
